body {
    font-family: sans-serif;
}

header{
    padding: 20px;
}
header a{
    padding-left: 50px;
    text-decoration: none;
    color: black
}
.accent{
    color: darkorange
}
h1,h2,p{
    text-align: center;
}
main img{
    margin-left: 100px;
}
footer{
    margin-top: 50px;
}
